{% extends "dashboard/layouts/dashboard_layout.html" %}

{% load static %}
{% block content %}
<style>
  .position-relative svg{
    position:absolute;
    left:10px;
    top:50%;
    transform:translateY(-50%);
  }
  thead{
    background:#E8E8E8;
  }
  thead tr, thead tr th{
    padding:14px!important;
    color:#000!important;
  }
</style>
<div class="card shadow m-4">
  <div class="card-header py-3"  style="background:#19BC9C;">
    <h6 class="m-0 font-weight-bold text-white">Enquiries</h6>
  </div>
  <div class="card shadow m-4 col-lg-2" style="background:#C4D200;">
    <div class="card-body">
      <div class="avatar flex-shrink-0 mb-1">
        <img src="{% static 'dashboard/assets/img/dashboard/chart-success.png' %}" alt="chart success" class="rounded" />
      </div>
      <h5 class="card-title fw-semibold text-white">Total Enquiries</h5>
      <p class="card-text fs-3 text-white">{{total_count}}</p>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <div class="d-flex mb-1" style="width:100%;    justify-content: space-between;">
          <div class="table-entries d-flex justify-center align-items-center">
            <span>Show</span>&nbsp;
            <select class="form-control" name="perPage" style="border-radius: 5px;padding: 4px 6px;">
              <option>10</option>
              <option>25</option>
            </select> &nbsp;
            <span>Entries</span>
          </div>
          <div class="table-right-controls d-flex gap-2 align-items-center">
            <div>
              <div class="form-icon position-relative">
                <i class="map-icon tf-icons bx bxs-map"></i>
                <select name="state" class="form-control ps-5" id="state" required="" >
                  <option value="">select state</option>
                  {% for state in states %}
                  <option value="{{state}}">{{state}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="d-flex">
              <div class="form-icon position-relative">
                <i class="bx bx-search fs-4 lh-0"></i>
              <input type="text" id="enquirySearch" class="form-control" style="padding: 8px 30px;" value="" placeholder="search here">
              </div>
            </div>
            <div>
              <button class="clear-filter btn btn-sm btn-outline-primary view-student-btn">clear filter</button>
            </div>
          </div>
        </div>
      <table id="enquiryTable" class="display table table-bordered" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>City</th>
            <th>State</th>
            <th>Message</th>
            <th>Date</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for enquiry in enquiries %}
            <tr class="{% if not enquiry.is_read %} bg-primary text-white {%endif%}">
              <td>{{ enquiry.full_name }}</td>
              <td>{{ enquiry.email }}</td>
              <td>{{ enquiry.phone_number }}</td>
              <td>{{ enquiry.city }}</td>
              <td>{{ enquiry.state }}</td>
              <td>{{ enquiry.message }}</td>
              <td>{{ enquiry.created_at }}</td>
              <td>
                <button
                class="btn btn-sm {% if not enquiry.is_read %} btn-outline-light {% else %}btn-outline-primary{% endif %} message-btn" 
                data-enquiry='{
                  "id": "{{ enquiry.id }}",
                  "full_name": "{{ enquiry.full_name }}",
                  "email": "{{ enquiry.email }}",
                  "phone_number": "{{ enquiry.phone_number }}",
                  "city": "{{ enquiry.city }}",
                  "state": "{{ enquiry.state }}",
                  "created_at": "{{ enquiry.created_at }}",
                  "message": "{{ enquiry.message|escapejs }}"
                }'
                data-bs-toggle="modal"
                data-bs-target="#modalCenter"
              >
                <i class='bx bx-show'></i> View
              </button>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="pagination-container mt-3 d-flex justify-content-between align-items-center">
        <div>
          Showing {{ start_index }}–{{ end_index }} of {{ total_count }} entries
        </div>
        <nav>
          <ul class="pagination">
            {% if page > 1 %}
              <li class="page-item">
                <a class="page-link" href="{{ base_url }}&page={{ page|add:'-1' }}&perPage={{ per_page }}">Previous</a>
              </li>
            {% endif %}

            {% for i in page_range %}
              <li class="page-item {% if page == i %}active{% endif %}">
                <a class="page-link" href="{{ base_url }}&page={{ i }}&perPage={{ per_page }}">{{ i }}</a>
              </li>
            {% endfor %}

            {% if page < total_pages %}
              <li class="page-item">
                <a class="page-link" href="{{ base_url }}&page={{ page|add:'1' }}&perPage={{ per_page }}">Next</a>
              </li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

{% comment %} Read Modal {% endcomment %}
<div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCenterTitle">Enquiry Details</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
           <p><strong>Name: </strong><span id="name"></span></p>
           <p><strong>Email: </strong><span id="email"></span></p>
           <p><strong>Phone: </strong><span id="phone"></span></p>
           <p><strong>Message: </strong><span id="message"></span></p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  $(document).ready(function () {
    const params = new URLSearchParams(window.location.search);
    function getCSRFToken() {
      return document.querySelector('meta[name="csrf-token"]').getAttribute('content');
    }
    $("select[name='perPage']").change(function(){     
      let perPage = $(this).find("option:selected").val();
      if( perPage ){
        params.set('perPage', perPage); 
      }else{
        params.remove('perPage')
      }
      window.location.search = params.toString();
    })
    $("select[name='state']").change(function(){     
      let state = $(this).find("option:selected").val();
      if( state ){
        params.set('state', state); 
      }else{
        params.remove('state')
      }
      window.location.search = params.toString();
    })
    $('.clear-filter').click(function(){
      params.delete('perPage');
      params.delete('page');
      window.location.href = window.location.pathname;
    })
    $('#contactSearch').on('keyup', function (e) {
      if (e.key === 'Enter') {
        console.log(e.key)
        let searchQuery = $(this).val().trim();
        if (searchQuery) {
          params.set('search', searchQuery);
        } else {
          params.delete('search');
        }
        params.set('page', 1); // Reset to page 1 on new search
        window.location.search = params.toString();
      }
    });
    $('#enquirySearch').on('keyup', function (e) {
      if (e.key === 'Enter') {
        console.log(e.key)
        let searchQuery = $(this).val().trim();
        if (searchQuery) {
          params.set('search', searchQuery);
        } else {
          params.delete('search');
        }
        params.set('page', 1); // Reset to page 1 on new search
        window.location.search = params.toString();
      }
    });
    $('.message-btn').click(function () {
      let enquiry = $(this).data('enquiry');
      // If data is still a string, parse it
      if (typeof enquiry === 'string') {
        enquiry = JSON.parse(enquiry);
      }
      // Use the data — example: update modal
      $('#name').text(enquiry.full_name);
      $('#email').text(enquiry.email);
      $('#phone').text(enquiry.phone_number);
      $('#message').text(enquiry.message);

      fetch("/mark-enquiry-as-read/", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": getCSRFToken()
          },
          body: JSON.stringify({ id: enquiry.id }),
        }).then((response) => {
            if (!response.ok) throw new Error("Failed to mark as read");
            return response.json();
          })
          .then((data) => {
            console.log("Marked as read", data);
            // Optionally: refresh or update the UI
             $(this).closest('tr').removeClass('bg-primary text-white');
             $(this).removeClass('btn-outline-light')
             $(this).addClass('btn-outline-primary')
          })
          .catch((error) => {
            console.error("Error:", error);
          });

    });
  });
</script>
{% endblock %}