{% extends "home/layouts/indexbase.html" %}

{% load static %}

{% block content %}
<style>
    body > header{
        background-color:#ffffff!important;
    }
    .bg-home-75vh{
        background: url('{% static 'home/assets/images/about/about-bg.jpg' %}') center center;
      }
     @media screen and (max-width: 768px){
        .bg-home-75vh{
            background-position: 0% 50%!important;
        }
    }
</style>
  <!-- Hero Start -->
  <section class="home-slider position-relative">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3000">
          <div class="bg-home-75vh d-flex align-items-center" style="">
            <div class="bg-overlay1"></div>
            <div class="container">
                {% comment %} <div class="row mt-5 justify-content-center">
                    <div class="col-lg-12 text-center">
                        <div class="pages-heading">
                            <h4 class="title mb-0"> About Us </h4>
                        </div>
                    </div>  <!--end col-->
                </div><!--end row-->
                
                <div class="position-breadcrumb">
                    <nav aria-label="breadcrumb" class="d-inline-block">
                        <ul class="breadcrumb rounded shadow mb-0 px-4 py-2">
                            
                            <li class="breadcrumb-item"><a href="{% url 'franchise' %}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">About Us</li>
                        </ul>
                    </nav>
                </div>
            </div> <!--end container--> {% endcomment %}
          </div>
          <!-- end slide -->
        </div>
      </div>
    </div>
  </section>


<!-- Shape Start -->
<div class="position-relative">
    <div class="shape overflow-hidden text-color-white">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>
<!--Shape End-->
<!-- Team Start -->
<section class="section">
    

    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-5 mt-4 pt-2 mt-sm-0 pt-sm-0">
                <div class="position-relative">
                    <img src="{% static 'home/assets/images/a11.png'%}" class="rounded img-fluid mx-auto d-block" alt="">
                   
                </div>
            </div><!--end col-->

            <div class="col-lg-7 col-md-7 mt-4 pt-2 mt-sm-0 pt-sm-0">
                <div class="section-title ms-lg-4">
                    <h4 class="title mb-4">About Career Wader</h4>
                    <p class="text-muted">Welcome to  <span class="text-primary fw-bold">Career Wader</span>, a Platform where AI meets personalized career planning and counseling. </p>

                    <p class="text-muted">Whether you are an 8th-10th Grade student, a Pre-University Learner, A Graduate or Post Graduate or a working Professional seeking a transition in your Career, Career Wader offers the tools, analyses the insights and provides expert guidance to help you make informed decisions.</p>

                    <p class="text-muted">Join thousands of students and working professionals who are shaping their futures with our unique AI empowered solutions.</p>
                    
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- About Start -->
<section class="section">
    

    <div class="container mt-60">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="section-title mb-4 pb-2">
                    <h4 class="title mb-4">Why Career Counseling?</h4>
                    <p class="text-muted para-desc mx-auto mb-0">Unlock <span class="text-primary fw-bold">your potential with expert guidance.</span> </p>

                    <p class="text-muted  mx-auto mb-0">In today’s fast-paced and competitive world, making informed career choices is more critical than ever. Career Counseling empowers individuals to navigate their professional journeys with confidence and clarity. Here is why career counseling is essential: </p>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row">
            <div class="col-md-4 col-12 mt-5 pt-4">
                <div class="features feature-primary">
                    <div class="image position-relative d-inline-block">
                        <i class="uil uil-edit-alt h2 text-primary"></i>
                    </div>

                    <div class="content mt-4">
                        <h5>Personalized Insights</h5>
                        <p class="text-muted mb-0">Understand your strengths, skills and interests through personalized evidence-based assessments.Discover Career paths that align with your unique profile.</p>
                    </div>
                </div>
            </div><!--end col-->
            
            <div class="col-md-4 col-12 mt-5 pt-4">
                <div class="features feature-primary">
                    <div class="image position-relative d-inline-block">
                        <i class="uil uil-vector-square h2 text-primary"></i>
                    </div>

                    <div class="content mt-4">
                        <h5>Informed Decision-Making</h5>
                        <p class="text-muted mb-0">Receive expert advice and guidance on education and career options. Make informed decisions that sets you on the path to success. </p>
                    </div>
                </div>
            </div><!--end col-->
            
            <div class="col-md-4 col-12 mt-5 pt-4">
                <div class="features feature-primary">
                    <div class="image position-relative d-inline-block">
                        <i class="uil uil-file-search-alt h2 text-primary"></i>
                    </div>

                    <div class="content mt-4">
                        <h5>Overcoming Challenges</h5>
                        <p class="text-muted mb-0">Navigate mid-career transitions and challenges with the support of trained and expert counselors. Get the guidance you need to overcome obstacles and achieve your goals. </p>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-md-4 col-12 mt-5 pt-4">
                <div class="features feature-primary">
                    <div class="image position-relative d-inline-block">
                        <i class="uil uil-airplay h2 text-primary"></i>
                    </div>

                    <div class="content mt-4">
                        <h5>Enhanced Job-satisfaction</h5>
                        <p class="text-muted mb-0">Choose a career that matches your passion and capabilities. Experience greater job satisfaction and fulfilment in your professional life. </p>
                    </div>
                </div>
            </div><!--end col-->
            
            <div class="col-md-4 col-12 mt-5 pt-4">
                <div class="features feature-primary">
                    <div class="image position-relative d-inline-block">
                        <i class="uil uil-calendar-alt h2 text-primary"></i>
                    </div>

                    <div class="content mt-4">
                        <h5>Life-long Career Management</h5>
                        <p class="text-muted mb-0">Develop new skills for ongoing career management. Stay ahead in your field and quickly adapt to the ever-changing job demands. </p>
                    </div>
                </div>
            </div><!--end col-->
            
            <div class="col-md-4 col-12 mt-5 pt-4">

                <img style="width: 100%;" src="{% static 'home/assets/images/career-counseling.jpg' %}" alt="">
                
            </div><!--end col-->
        </div><!--end row-->

        <hr>

        <p class="text-muted  mx-auto mb-0"><span class="text-primary fw-bold">Our Career Counseling is not just about choosing a job; it is about you finding a career that brings you joy and fulfilment.</span>

        <br> Let’s help you unlock your full potential and achieve your dreams. </p>

        <!-- <a href="javascript:void(0)" class="btn btn-primary mt-2 me-2">Start your journey with Career Wader today.</a> -->
        <a href="{% url 'register' 'franchise' %}" class="btn btn-pills btn-primary m-1">Start your journey with Career Wader today</a>

    </div><!--end container-->

    <div class="container mt-100 mt-60">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    
                    <h4 class="title mt-3 mb-4">Why choose Career Wader?</h4>
                    <h6>Our Unique Career Counseling Approach</h6>
                    <p class="text-muted mx-auto para-desc">Our career counseling methods and techniques set us apart by focusing on a holistic as well as personalized approach. Here is how we are different</p>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row justify-content-center">
            <div class="col-lg-6 mt-2">
                <div class="px-md-4 pt-4 text-center">
                    
                    

                    <div class="px-md-4 pt-4 text-start">
                        <div class="d-flex" style=" border: 1px solid #F5F5F5; padding: 10px; background-color: #F5F5F5; border-radius: 10px;">
                            <i class="uil uil-bullseye h5 text-primary"></i>
                            <div class="flex-1 ms-2">
                                <h5>Best Fit for your Life</h5>
                                <p class="mb-0 text-muted">Our goal is to identify what you can truly excel in throughout your life and not just the best study options or career you can land into.</p>
                            </div>
                        </div>

                        <div class="d-flex mt-4" style=" border: 1px solid #F5F5F5; padding: 10px; background-color: #F5F5F5; border-radius: 10px;">
                            <i class="uil uil-create-dashboard h5 text-primary"></i>
                            <div class="flex-1 ms-2">
                                <h5>Real 360-degree assessment: </h5>
                                <p class="mb-0 text-muted">Our comprehensive assessments consider every aspect of your profile and your total potential. </p>
                            </div>
                        </div>

                        <div class="d-flex mt-4" style=" border: 1px solid #F5F5F5; padding: 10px; background-color: #F5F5F5; border-radius: 10px;">
                            <i class="uil uil-create-dashboard h5 text-primary"></i>
                            <div class="flex-1 ms-2">
                                <h5>Life-long Assessment Methods:  </h5>
                                <p class="mb-0 text-muted">We offer tailored assessments, suited to every stage of your life, from school through employment and entrepreneurial stages, ensuring continuous support and guidance.</p>
                            </div>
                        </div>

                        <div class="d-flex mt-4" style=" border: 1px solid #F5F5F5; padding: 10px; background-color: #F5F5F5; border-radius: 10px;">
                            <i class="uil uil-bullseye h5 text-primary"></i>
                            <div class="flex-1 ms-2">
                                <h5>Evolving Opportunities: </h5>
                                <p class="mb-0 text-muted">We keep and make you stay updated on evolving opportunities in India and abroad that match your strengths, helping you navigate a dynamic and difficult job market.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-6 mt-2">
                <div class="px-md-4 pt-4 text-center">
                    

                   

                    <div class="px-md-4 pt-4 text-start">
                        <div class="d-flex" style=" border: 1px solid #F5F5F5; padding: 10px; background-color: #F5F5F5; border-radius: 10px;">
                            <i class="uil uil-bullseye h5 text-primary"></i>
                            <div class="flex-1 ms-2">
                                <h5>Practical and affordable Solutions </h5>
                                <p class="mb-0 text-muted">Our Counseling methods are straight forward, down-to-earth and simple to execute. We provide affordable action plans and life hacks that you can easily implement.</p>
                            </div>
                        </div>

                        <div class="d-flex mt-4" style=" border: 1px solid #F5F5F5; padding: 10px; background-color: #F5F5F5; border-radius: 10px;">
                            <i class="uil uil-create-dashboard h5 text-primary"></i>
                            <div class="flex-1 ms-2">
                                <h5>Flexible Assessment Options</h5>
                                <p class="mb-0 text-muted">Our methods are facilitated by online assessments through our platform as well as personal face-to-face feedback sessions with one of our trained counselors in locations near you</p>
                            </div>
                        </div>

                        <div class="d-flex mt-4" style=" border: 1px solid #F5F5F5; padding: 10px; background-color: #F5F5F5; border-radius: 10px;">
                            <i class="uil uil-create-dashboard h5 text-primary"></i>
                            <div class="flex-1 ms-2">
                                <h5>Comprehensive Documentation</h5>
                                <p class="mb-0 text-muted">We provide detailed and comprehensive reports to guide your career path </p>
                            </div>
                        </div>

                        <div class="d-flex mt-4" style=" border: 1px solid #F5F5F5; padding: 10px; background-color: #F5F5F5; border-radius: 10px;">
                            <i class="uil uil-create-dashboard h5 text-primary"></i>
                            <div class="flex-1 ms-2">
                                <h5>Extensive Career Compendium</h5>
                                <p class="mb-0 text-muted">Our comprehensive and extensive career compendium includes 3000+ careers, conventional and new-age careers, spiraling up to 2000+ possible career streams. This helps us identify  your individual  matching  profile, with a staggering 10 career streams to help you make a perfect career  choice. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <br>

        <div class="row justify-content-center mt-3">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    
                    
                    <p class="text-muted mx-auto para-desc">Let us help you unlock your full potential and find career options that bring joy and fulfilment to you</p>
                    <a href="{% url 'register' 'franchise' %}" class="btn btn-pills btn-primary m-1">Start your journey with Career Wader today</a>
                </div>


            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->



<!-- About End -->



<section class="section">
    <div class="container">
        

        <div class="row align-items-center">
            <div class="col-lg-5 col-md-5 mt-4 pt-2 mt-sm-0 pt-sm-0">
                <div class="position-relative">
                    <img src="{% static 'home/assets/images/core-features.jpg'%}" class="rounded img-fluid mx-auto d-block" alt="">
                </div>
            </div><!--end col-->

            <div class="col-lg-7 col-md-7 mt-4 pt-2 mt-sm-0 pt-sm-0">
                <div class="section-title ms-lg-4">
                    <h4 class="title mb-4">Core Features at a Glance</h4>
                    <ul class="list-unstyled text-muted">
                    <li class="mb-1"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>AI powered Platform for preliminary Career Profiling</li>
                    <li class="mb-1"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Personalized Career Assessment and Guidance</li>
                    <li class="mb-1"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Access to 3000 + Career Options in India and Abroad</li>
                    <li class="mb-1"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Expert Coaching and Mentoring for Career Transitions</li>
                    <li class="mb-1"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Guidance for Graduate and Post-Graduate study options in India and overseas. </li>
                    <li class="mb-1"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>All this and more at pocket-friendly pricing</li>
                    </ul>
                    
                </div>
            </div><!--end col-->
        </div><!--end row-->

        
    </div><!--end container-->
</section><!--end section-->
<!-- Team End -->

{% endblock %}