{% extends 'home/layouts/indexbase.html' %}

{% load static %}

{% block content %}
<style>
    body > header{
        background-color:#ffffff!important;
    }
    @media screen and (max-width: 768px){
        .bg-home-75vh{
            background-position: 0% 50%!important;
        }
    }
</style>
<!-- Hero Start -->
    <section class="home-slider position-relative">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="3000">
                    <div class="bg-home-75vh d-flex align-items-center"
                        style="background: url('{% static 'home/assets/images/career-counselling/careerbg.jpg'%}') center center;">
                        <div class="bg-overlay1"></div>
                        <div class="container">
                            <div class="row mt-2 pt-3 justify-content-center">
                                <div class="col-12 col-md-6">
                                    <div class="title-heading ">
                                        <span class="badge rounded-pill ">Why Career Counseling?</span>
                                        <h2 class="text-white title-dark mb-3">Unlock your potential with expert
                                            guidance</h2>

                                        <p class="para-desc text-white-50 mb-0">In today’s fast-paced and competitive world, making informed career choices is more critical than ever. Career Counseling empowers individuals to navigate their professional journeys with confidence and clarity</p>
                                        <div class="mt-4">


                                        </div>
                                    </div>
                                </div><!--end col-->

                                <div class="col-12 col-md-6">
                                    <div class="title-heading ">




                                    </div>
                                </div><!--end col-->
                            </div><!--end row-->
                        </div>
                    </div><!--end slide-->
                </div>




            </div>



        </div>
    </section><!--end section-->
    <div class="position-relative">
        <div class="shape overflow-hidden text-color-white">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
            </svg>
        </div>
    </div>
    <!-- Hero End -->

    <section class="section">
        <div class="container ">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <div class="section-title mb-4 pb-2">
                        <h4 class="title mb-4">Why career counseling is essential</h4>
                        <span
                                class="text-primary fw-bold">Scientific Career counselling</span> helps individuals understand their interests, personality, values,<br> and strengths through psychometric tests, analysis and one to one Counselling.
                    </div>
                </div><!--end col-->
            </div><!--end row-->

            <div class="row justify-content-center align-items-center">
                <div class="col-lg-4 col-md-8 mt-4 text-center">
                    <img src="{% static 'home/assets/images/career-counselling/why-career.jpg'%}" class="img-fluid rounded px-lg-0 px-md-5 px-4" alt="">
                </div><!--end col-->

                <div class="col-lg-4 col-md-6">
                    <div class="row">
                        <div class="col-12 mt-4 pt-2">
                            <div class="d-flex features feature-primary">
                                <div class="icon text-center rounded-circle text-primary me-3 mt-2">
                                    <i data-feather="monitor" class="fea icon-ex-md"></i>
                                </div>
                                <div class="flex-1">
                                    <h4 class="title">Personalized Insights</h4>
                                    <p class="text-muted para mb-0">Understand your strengths, skills and interests
                                        through personalized evidence-based assessments. Discover Career paths that
                                        align with your unique profile.</p>
                                </div>
                            </div>
                        </div><!--end col-->

                        <div class="col-12 mt-4 pt-2">
                            <div class="d-flex features feature-primary">
                                <div class="icon text-center rounded-circle text-primary me-3 mt-2">
                                    <i data-feather="feather" class="fea icon-ex-md"></i>
                                </div>
                                <div class="flex-1">
                                    <h4 class="title">Overcoming Challenges</h4>
                                    <p class="text-muted para mb-0">Navigate mid-career transitions and challenges with
                                        the support of trained and expert counselors. Get the guidance you need to
                                        overcome obstacles and achieve your goals. </p>
                                </div>
                            </div>
                        </div><!--end col-->

                        <div class="col-12 mt-4 pt-2">
                            <div class="d-flex features feature-primary">
                                <div class="icon text-center rounded-circle text-primary me-3 mt-2">
                                    <i data-feather="eye" class="fea icon-ex-md"></i>
                                </div>
                                <div class="flex-1">
                                    <h4 class="title">Life-long Career Management</h4>
                                    <p class="text-muted para mb-0">Develop new skills for ongoing career management.
                                        Stay ahead in your field and quickly adapt to the ever-changing job demands.
                                    </p>
                                </div>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!--end col-->

                <div class="col-lg-4 col-md-6">
                    <div class="row">
                        <div class="col-12 mt-4 pt-2">
                            <div class="d-flex features feature-primary">
                                <div class="icon text-center rounded-circle text-primary me-3 mt-2">
                                    <i data-feather="user-check" class="fea icon-ex-md"></i>
                                </div>
                                <div class="flex-1">
                                    <h4 class="title">Informed Decision-Making</h4>
                                    <p class="text-muted para mb-0">Receive expert advice and guidance on education and career options. Make informed decisions that sets you on the path to success.</p>
                                </div>
                            </div>
                        </div><!--end col-->

                        <div class="col-12 mt-4 pt-2">
                            <div class="d-flex features feature-primary">
                                <div class="icon text-center rounded-circle text-primary me-3 mt-2">
                                    <i data-feather="smartphone" class="fea icon-ex-md"></i>
                                </div>
                                <div class="flex-1">
                                    <h4 class="title">Enhanced Job-satisfaction</h4>
                                    <p class="text-muted para mb-0">Choose a career that matches your passion and
                                        capabilities. Experience greater job satisfaction and fulfilment in your
                                        professional life. <br><br><br></p>
                                </div>
                            </div>
                        </div><!--end col-->

                        <div class="col-12 ">
                            <img src="{% static 'home/assets/images/career-counselling/why-career1.jpg'%}" class="img-fluid px-lg-0 px-md-5 px-4" alt="">
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!--end col-->
            </div><!--end row-->

            <p class="pt-4">Our Career Counseling is not just about choosing a job; it is about you finding a career that brings you
                joy and fulfilment. Let’s help you unlock your full potential and achieve your dreams. </p>

            <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#global-contact-popup" class="btn btn-primary">Start your journey with Career Wader today. <i
                    class="mdi mdi-arrow-right align-middle"></i></a>
            </div><!--end container-->

            <div class="container mt-100 mt-60">
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <div class="section-title mb-4 pb-2">
                            <span class="badge rounded-pill bg-soft-primary">Why choose Career Wader?</span>
                            <h4 class="title mb-4 pt-2">Our Unique Career Counseling Approach</h4>
                            <p class="text-muted para-desc mx-auto mb-0 mt-3">Our <span
                                    class="text-primary fw-bold">career counseling methods and techniques</span> set us
                                apart by focusing on a holistic as well as personalized approach. Here is how we are
                                different</p>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
                <div class="row">
                    <div class="col-lg-4 col-md-6 mt-4 pt-2">
                        <div class="card blog blog-primary rounded border-0 shadow">
                            <div class="position-relative">
                                <img src="{% static 'home/assets/images/career-counselling/best.jpg'%}" class="card-img-top rounded-top" alt="...">
                                <div class="overlay rounded-top"></div>
                            </div>
                            <div class="card-body content" style=" height: 208px;">
                                <h5 class=" ">Best Fit for your Life</h5>
                                <p class="text-muted mb-0">Our goal is to identify what you can truly excel in
                                    throughout your life and not just the best study options or career you can land
                                    into.</p>

                            </div>

                        </div>
                    </div><!--end col-->
                    <div class="col-lg-4 col-md-6 mt-4 pt-2">
                        <div class="card blog blog-primary rounded border-0 shadow">
                            <div class="position-relative">
                                <img src="{% static 'home/assets/images/career-counselling/360.jpg'%}" class="card-img-top rounded-top" alt="...">
                                <div class="overlay rounded-top"></div>
                            </div>
                            <div class="card-body content" style=" height: 208px;">
                                <h5 class=" ">Real 360-degree assessment</h5>
                                <p class="text-muted mb-0">Our comprehensive assessments consider every aspect of your
                                    profile and your total potential. </p>

                            </div>

                        </div>
                    </div><!--end col-->

                    <div class="col-lg-4 col-md-6 mt-4 pt-2">
                        <div class="card blog blog-primary rounded border-0 shadow">
                            <div class="position-relative">
                                <img src="{% static 'home/assets/images/career-counselling/life.jpg'%}" class="card-img-top rounded-top" alt="...">
                                <div class="overlay rounded-top"></div>
                            </div>
                            <div class="card-body content">
                                <h5 class=" ">Life-long Assessment Methods</h5>
                                <p class="text-muted mb-0">We offer tailored assessments, suited to every stage of your
                                    life, from school through employment and entrepreneurial stages, ensuring continuous
                                    support and guidance.</p>

                            </div>

                        </div>
                    </div><!--end col-->

                    <div class="col-lg-4 col-md-6 mt-4 pt-2">
                        <div class="card blog blog-primary rounded border-0 shadow">
                            <div class="position-relative">
                                <img src="{% static 'home/assets/images/career-counselling/evolving.jpg'%}" class="card-img-top rounded-top" alt="...">
                                <div class="overlay rounded-top"></div>
                            </div>
                            <div class="card-body content">
                                <h5 class=" ">Evolving Opportunities</h5>
                                <p class="text-muted mb-0">We keep and make you stay updated on evolving opportunities
                                    in India and abroad that match your strengths, helping you navigate a dynamic and
                                    difficult job market.</p>

                            </div>

                        </div>
                    </div><!--end col-->

                    <div class="col-lg-4 col-md-6 mt-4 pt-2">
                        <div class="card blog blog-primary rounded border-0 shadow">
                            <div class="position-relative">
                                <img src="{% static 'home/assets/images/career-counselling/practical.jpg'%}" class="card-img-top rounded-top" alt="...">
                                <div class="overlay rounded-top"></div>
                            </div>
                            <div class="card-body content">
                                <h5 class=" ">Practical & Affordable Solutions</h5>
                                <p class="text-muted mb-0">Our Counseling methods are straight forward, down-to-earth
                                    and simple to execute. We provide affordable action plans and life hacks that you
                                    can easily implement.</p>

                            </div>

                        </div>
                    </div><!--end col-->

                    <div class="col-lg-4 col-md-6 mt-4 pt-2">
                        <div class="card blog blog-primary rounded border-0 shadow">
                            <div class="position-relative">
                                <img src="{% static 'home/assets/images/career-counselling/online.jpg'%}" class="card-img-top rounded-top" alt="...">
                                <div class="overlay rounded-top"></div>
                            </div>
                            <div class="card-body content">
                                <h5 class=" ">Flexible Assessment Options</h5>
                                <p class="text-muted mb-0">Our methods are facilitated by online assessments through our
                                    platform as well as personal face-to-face feedback sessions with one of our trained
                                    counselors in locations near you</p>

                            </div>

                        </div>
                    </div><!--end col-->

                    <div class="col-lg-4 col-md-6 mt-4 pt-2">
                        <div class="card blog blog-primary rounded border-0 shadow">
                            <div class="position-relative">
                                <img src="{% static 'home/assets/images/career-counselling/documentation.jpg'%}" class="card-img-top rounded-top" alt="...">
                                <div class="overlay rounded-top"></div>
                            </div>
                            <div class="card-body content">
                                <h5 class=" ">Comprehensive Documentation</h5>
                                <p class="text-muted mb-0" style=" height: 100px;">We provide detailed and comprehensive
                                    reports to guide your career path </p>

                            </div>

                        </div>
                    </div><!--end col-->

                    <div class="col-lg-8 col-md-6 mt-4 pt-2">
                        <div class="card blog blog-primary rounded border-0 shadow">
                            <div class="position-relative">
                                <img src="{% static 'home/assets/images/career-counselling/streams.jpg'%}" class="card-img-top rounded-top" alt="...">
                                <div class="overlay rounded-top"></div>
                            </div>
                            <div class="card-body content">
                                <h5 class=" ">Extensive Career Compendium</h5>
                                <p class="text-muted mb-0">Our comprehensive and extensive career compendium includes
                                    3000+ careers, conventional and new-age careers, spiraling up to 2000+ possible
                                    career streams. This helps us identify your individual matching profile, with a
                                    staggering 10 career streams to help you make a perfect career choice. </p>

                            </div>

                        </div>
                    </div><!--end col-->








                </div><!--end row-->

                <p class="text-muted pt-3">Our comprehensive and extensive career compendium includes 3000+ careers,
                    conventional and new-age careers, spiraling up to 2000+ possible career streams. This helps us
                    identify your individual matching profile, with a staggering 10 career streams to help you make a
                    perfect career choice. </p>
                <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#global-contact-popup" class="btn btn-primary">Start your journey with Career Wader Today. <i
                        class="mdi mdi-arrow-right align-middle"></i></a>
            </div><!--end container-->


            <div class="container mt-100 mt-60">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-5 col-12">
                        <img src="{% static 'home/assets/images/empower.png'%}" class="img-fluid mx-auto d-block" alt="">
                    </div><!--end col-->

                    <div class="col-lg-7 col-md-7 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <div class="section-title">

                            <h4 class="title mb-4"> Empower your Future</h4>

                            <p class="text-muted para-desc mb-0">Discover your <span
                                    class="text-primary fw-bold">Perfect-fit career with AI</span> driven Scientific
                                Evidence based Career Counseling</p>

                            <p class="text-muted para-desc mb-0">Unravel your true strengths and potential through
                                personalized Career and Educational Guidance using cutting edge Ai methods. Tailored
                                solutions for Students and Working Professionals.</p>




                            <div class="d-inline-block">
                                <div class="pt-4 d-flex align-items-center border-top">
                                    <i data-feather="smartphone" class="fea icon-md me-2 text-primary"></i>
                                    <div class="content">
                                        <h6 class="mb-0">Start your Career Journey Today </h6>
                                        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#global-contact-popup" class="text-primary h6">Get Started <i
                                                class="uil uil-angle-right-b"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->







            <div class="container mt-100 mt-60">


                <div class="row align-items-center">


                    <div class="col-lg-7 col-md-7 mt-4 pt-2 mt-sm-0 pt-sm-0">
                        <div class="section-title ms-lg-4">
                            <span class="badge rounded-pill bg-soft-primary">Why choose Career Wader?</span>
                            <h4 class="title mb-4 pt-2">The smart way to choose your career path</h4>
                            <p class="text-muted para-desc mx-auto mb-4 mt-3"><span class="text-primary fw-bold">Step by
                                    step </span> Breakdown</p>
                            <div class="accordion" id="buyingquestion">
                                <div class="accordion-item rounded">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button border-0 bg-light" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne">
                                            1. Assessment
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse border-0 collapse show"
                                        aria-labelledby="headingOne" data-bs-parent="#buyingquestion">
                                        <div class="accordion-body text-muted">
                                            <p>Answer a series of scientifically designed education psychology-based
                                                questions based on your interests, skills, aptitudes, personality and
                                                motivation traits. Our AI algorithms analyze your responses on
                                                standardized tests to create your distinct personal traits profile and
                                                match them to the selected profiles from over 3000+ careers, providing
                                                you with a clear career trajectory.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item rounded mt-2 ">
                                    <h2 class="accordion-header" id="heading2">
                                        <button class="accordion-button border-0 bg-light collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false"
                                            aria-controls="collapse1">
                                            2. Personalized Guidance
                                        </button>
                                    </h2>
                                    <div id="collapse2" class="accordion-collapse border-0 collapse "
                                        aria-labelledby="headingOne" data-bs-parent="#buyingquestion">
                                        <div class="accordion-body text-muted">
                                            <p>Based on your results our expert counselors will offer tailored advice
                                                and connect you to suitable pathways in Graduation and Post-Graduation
                                                etc and Vocational Studies in India and abroad. The rationale behind the
                                                career pathway suggested at the assessment stage will be amplified for
                                                final career profiling.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item rounded mt-2 ">
                                    <h2 class="accordion-header" id="heading3">
                                        <button class="accordion-button border-0 bg-light collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false"
                                            aria-controls="collapse1">
                                            3. Advanced In-depth Coaching & Mentoring
                                        </button>
                                    </h2>
                                    <div id="collapse3" class="accordion-collapse border-0 collapse "
                                        aria-labelledby="headingOne" data-bs-parent="#buyingquestion">
                                        <div class="accordion-body text-muted">
                                            <p>You will receive ongoing support through interactive mentor led sessions
                                                designed to help you navigate your academic or career journey with
                                                confidence.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item rounded mt-2 ">
                                    <h2 class="accordion-header" id="heading4">
                                        <button class="accordion-button border-0 bg-light collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false"
                                            aria-controls="collapse1">
                                            4. Ongoing Support
                                        </button>
                                    </h2>
                                    <div id="collapse4" class="accordion-collapse border-0 collapse "
                                        aria-labelledby="headingOne" data-bs-parent="#buyingquestion">
                                        <div class="accordion-body text-muted">
                                            <p>You will get educational and career guidance even after you have chosen
                                                your path. Whether you are transitioning to careers mid-life or planning
                                                to pursue higher education, we are with you, every step you take.</p>
                                        </div>
                                    </div>
                                </div>





                            </div>

                        </div>
                    </div><!--end col-->

                    <div class="col-lg-5 col-md-5 mt-4 pt-2 mt-sm-0 pt-sm-0">
                        <div class="position-relative">
                            <img src="{% static 'home/assets/images/career-counselling/path.jpg'%}" class="rounded img-fluid mx-auto d-block"
                                alt="Join careerwader" title="Join careerwader">

                        </div>
                    </div><!--end col-->
                </div><!--end row-->

            </div>

            <div class="container mt-100 mt-60">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-6">
                        <img src="{% static 'home/assets/images/career-counselling/students-professionals.jpg'%}" class="img-fluid" alt="">
                    </div><!--end col-->

                    <div class="col-lg-7 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <div class="section-title ms-lg-5">
                            <div class="alert alert-pills shadow text-dark" role="alert">
                                <span class="content">

                                    <span class="text-primary">Career Counseling-</span> Target Audience Focus
                                </span>
                            </div>
                            <h4 class="title mb-4">Customized Career Counseling for Students and Professionals</h4>

                            <h5><i class="uil uil-arrow-circle-right text-primary me-1"></i>Student Focus</h5>
                            <p class="text-muted para-desc ms-4 ps-2" style=" text-align: justify;">For Students of 8th
                                to 10th Grade, our platform uses the detailed interests, skills, aptitudes, personality
                                and motivation Test to provide a snapshot of your best career related options. Whether
                                you are looking for guidance for stream selection or post school or college career
                                planning, we at Career Wader offer a personalized path to ensure that you make the right
                                choice</p>

                            <h5><i class="uil uil-arrow-circle-right text-primary me-1"></i>For Pre- University Students
                            </h5>
                            <p class="text-muted para-desc ms-4 ps-2" style=" text-align: justify;">We help you to
                                explore not just careers, but also Universities and Colleges offering the best programs
                                that match your aspirations, including sure shot options abroad.</p>
                            <h5><i class="uil uil-arrow-circle-right text-primary me-1"></i>Professional Focus</h5>
                            <p class="text-muted para-desc ms-4 ps-2" style=" text-align: justify;">Mid-career
                                professionals seeking a Career Change? We offer you the best guidance and support to
                                make your transition smooth in analyzing scientifically and pragmatically your skills,
                                interests and experience to suggest fulfilling career paths or academic pursuits that
                                align to your current life situation as well as your future potential to achieve and
                                excel.
                            </p>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->

            <div id="revolutionizing-career" class="container mt-100 mt-60">
                <div class="row align-items-center">


                    <div class="col-lg-7 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <div class="section-title ms-lg-5">
                            <div class="alert alert-pills shadow text-dark" role="alert">
                                <span class="content">

                                    <span class="text-primary">AI Powered </span> Tools
                                </span>
                            </div>
                            <h4 class="title mb-4">Revolutionizing Career Counseling through modern AI </h4>


                            <p class="text-muted " style=" text-align: justify;">Our Career Wader Platform leverages AI
                                to create highly personalized career paths for students and professionals based on
                                standardized psychological theories and assessment tools. Our AI-driven platform
                                analyses accurately your skills, personality traits, interests, aptitudes, and strengths
                                to give you clear, actionable. Report based on the best options in the form of a 100+
                                page report for your study. and implementation.</p>

                            <h5>Key Benefits</h5>

                            <p class="text-muted " style=" text-align: justify;">Reliable, Scientific and evidence-based
                                Career Assessment Access to over 3000+ Career options, knowledge of what the Careers and
                                their life outcomes are and out of them how many you can choose as your best fit with AI
                                based suggestions and our guidance matched with academic programs. </p>


                        </div>
                    </div><!--end col-->

                    <div class="col-lg-5 col-md-6">
                        <img src="{% static 'home/assets/images/career-counselling/ai1.jpg'%}" class="img-fluid" alt="">
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
<div class="container mt-100 mt-60">
    <div class="container mt-100 mt-60">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <div class="section-title mb-4 pb-2">
                <h4 class="title mb-4">Plans and Pricing</h4>
                <p class="text-muted para-desc mb-0 mx-auto">Payment Plans for <span class="text-primary fw-bold">Career Wader Career Counselling</span> Services    </p>
            </div>
        </div><!--end col-->
    </div>
    <div class="row">
          <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
              <div class="card pricing pricing-primary business-rate shadow bg-light border-0 rounded">
                  <div class="card-body">
                    <h6 class="title name fw-bold text-uppercase mb-4">Basic Plan</h6>
                    <div class="d-flex mb-4">
                        <span class="h4 mb-0 mt-2">Rs</span>
                        <span class="price h1 mb-0">1499/-</span>
                        <span class="h4 align-self-end mb-1"><del class="text-danger ms-2">Rs1999/-</del></span>
                    </div>
                    
                    
                    <ul class="list-unstyled mb-0 ps-0">
                        <li class="h6 text-muted mb-0" style="font-weight: 400;">
                          <span class="icon h5 me-2">
                            <i class="uil uil-check-circle align-middle"></i>
                          </span>Student primary inputs analysis
                        </li>
                        <hr>
                        <li class="h6 text-muted mb-0" style="font-weight: 400;">
                          <span class="icon h5 me-2">
                            <i class="uil uil-check-circle align-middle"></i>
                          </span>Platform Assessment with 70+ page Report.
                        </li>
                        <hr>
                        <li class="h6 text-muted mb-0" style="font-weight: 400;">
                          <span class="icon h5 me-2">
                            <i class="uil uil-check-circle align-middle"></i>
                          </span>Report Analysis+ Feedback through personal/virtual meet with summation of Study and Career options.
                        </li>
                        <hr>
                        <li class="h6 text-muted mb-0" style="font-weight: 400; height: 135px;"></li>
                    </ul>
                    <a href="javascript:void(0)" class="btn btn-primary mt-4 setTocheckout" data-plan="2">Buy Now</a>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
            <div class="card pricing pricing-primary business-rate shadow border-0 rounded">
              <div class="ribbon ribbon-right ribbon-warning overflow-hidden"><span class="text-center d-block shadow small h6">Best</span></div>
              <div class="card-body">
                <h6 class="title name fw-bold text-uppercase mb-4">Standard Plan</h6>
                <div class="d-flex mb-4">
                    <span class="h4 mb-0 mt-2">Rs</span>
                    <span class="price h1 mb-0">1999/-</span>
                    <span class="h4 align-self-end mb-1"><del class="text-danger ms-2">Rs.2499/-</del></span>
                    
                </div>

                <ul class="list-unstyled mb-0 ps-0">
                    <li class="h6 text-muted mb-0" style="font-weight: 400;">
                      <span class="icon h5 me-2">
                        <i class="uil uil-check-circle align-middle"></i>
                      </span>Student primary inputs analysis
                    </li>
                    <hr>
                    <li class="h6 text-muted mb-0" style="font-weight: 400;">
                      <span class="icon h5 me-2">
                        <i class="uil uil-check-circle align-middle"></i>
                      </span>Platform Assessment with 70+ page Report.
                    </li>
                    <hr>
                    <li class="h6 text-muted mb-0" style="font-weight: 400;">
                      <span class="icon h5 me-2">
                        <i class="uil uil-check-circle align-middle"></i>
                      </span>Detailed Reports Analysis+Minimum three feedback sessions through personal/ virtual meet with elaborate Study and Career alternatives with specifiç evidence based detailed recommendations.
                    </li>
                    <hr>
                    <li class="h6 text-muted mb-0" style="font-weight: 400; height: 95px;"></li>
                </ul>
                <a href="javascript:void(0)" class="btn btn-primary mt-4 setTocheckout" data-plan="1">Buy Now</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
              <div class="card pricing pricing-primary business-rate shadow bg-light border-0 rounded">
                <div class="card-body">
                  <h6 class="title name fw-bold text-uppercase mb-4">Advanced Plan </h6>
                  <div class="d-flex mb-4">
                      <span class="h4 mb-0 mt-2">Rs</span>
                      <span class="price h1 mb-0">3999/-</span>
                      <span class="h4 align-self-end mb-1"><del class="text-danger ms-2">Rs.4999/-</del></span>
                      
                  </div>
                  <ul class="list-unstyled mb-0 ps-0">
                      <li class="h6 text-muted mb-0" style="font-weight: 400;">
                        <span class="icon h5 me-2">
                          <i class="uil uil-check-circle align-middle"></i>
                        </span>Student primary inputs analysis
                      </li>
                      <hr>
                      <li class="h6 text-muted mb-0" style="font-weight: 400;">
                        <span class="icon h5 me-2">
                          <i class="uil uil-check-circle align-middle"></i>
                        </span>Platform Assessment with 70+ page Report.
                      </li>
                      <hr>
                      <li class="h6 text-muted mb-0" style="font-weight: 400;">
                        <span class="icon h5 me-2">
                          <i class="uil uil-check-circle align-middle"></i>
                        </span>Detailed Reports Analysis+Minimum three feedback sessions through personal/ virtual meet with elaborate Study and Career alternatives with specifiç evidence based detailed recommendations.
                      </li>
                      <hr>
                      <li class="h6 text-muted mb-0" style="font-weight: 400;">
                        <span class="icon h5 me-2">
                          <i class="uil uil-check-circle align-middle"></i>
                        </span>Handholding for six months,upto a maximum of twelve sessions to develop a long term Study/ Learning and Careers roadmap and plan of execution. 
                      </li>
                      
                  </ul>
                  <a href="javascript:void(0)" class="btn btn-primary mt-4 setTocheckout" data-plan="3">Buy Now</a>
                </div>
              </div>
          </div>
  </div>
            {% comment %} <div class="container mt-100 mt-60">
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <div class="section-title mb-4 pb-2">
                            <h4 class="title mb-4">Plans and Pricing</h4>
                            <p class="text-muted para-desc mb-0 mx-auto">Payment Plans for <span
                                    class="text-primary fw-bold">Career Wader Career Counselling</span> Services </p>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                        <div class="card pricing pricing-primary business-rate shadow bg-light border-0 rounded">
                            <div class="card-body">
                                <h6 class="title name fw-bold text-uppercase mb-4">Basic Plan</h6>
                                <div class="d-flex mb-4">
                                    <span class="h4 mb-0 mt-2">Rs</span>
                                    <span class="price h1 mb-0">499/-</span>


                                </div>


                                <ul class="list-unstyled mb-0 ps-0">
                                    <li class="h6 text-muted mb-0" style="font-size:16px; font-weight: 400;"><span
                                            class="icon h5 me-2"><i
                                                class="uil uil-check-circle align-middle"></i></span>One-Page Resume
                                    </li>
                                    <hr>
                                    <li class="h6 text-muted mb-0" style="font-size:16px; font-weight: 400;"><span
                                            class="icon h5 me-2"><i
                                                class="uil uil-check-circle align-middle"></i></span>One Revision</li>
                                    <hr>
                                    <li class="h6 text-muted mb-0" style="font-size:16px; font-weight: 400;"><span
                                            class="icon h5 me-2"><i
                                                class="uil uil-check-circle align-middle"></i></span>X</li>
                                    <hr>
                                    <li class="h6 text-muted mb-0" style="font-size:16px; font-weight: 400;"><span
                                            class="icon h5 me-2"><i
                                                class="uil uil-check-circle align-middle"></i></span>X</li>


                                </ul>
                                <a href="javascript:void(0)" class="btn btn-primary mt-4">Buy Now</a>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                        <div class="card pricing pricing-primary business-rate shadow border-0 rounded">
                            <div class="ribbon ribbon-right ribbon-warning overflow-hidden"><span
                                    class="text-center d-block shadow small h6">Best</span></div>
                            <div class="card-body">
                                <h6 class="title name fw-bold text-uppercase mb-4">Premium</h6>
                                <div class="d-flex mb-4">
                                    <span class="h4 mb-0 mt-2">Rs</span>
                                    <span class="price h1 mb-0">949/-</span>


                                </div>

                                <ul class="list-unstyled mb-0 ps-0">
                                    <li class="h6 text-muted mb-0" style="font-size:16px; font-weight: 400;"><span
                                            class="icon h5 me-2"><i
                                                class="uil uil-check-circle align-middle"></i></span>Student primary
                                        inputs analysis</li>
                                    <hr>
                                    <li class="h6 text-muted mb-0" style="font-size:16px; font-weight: 400;"><span
                                            class="icon h5 me-2"><i
                                                class="uil uil-check-circle align-middle"></i></span>Two-Page Resume
                                    </li>
                                    <hr>
                                    <li class="h6 text-muted mb-0" style="font-size:16px; font-weight: 400;"><span
                                            class="icon h5 me-2"><i
                                                class="uil uil-check-circle align-middle"></i></span>Two Revisions</li>

                                    <hr>
                                    <li class="h6 text-muted mb-0" style="font-size:16px; font-weight: 400;"><span
                                            class="icon h5 me-2"><i
                                                class="uil uil-check-circle align-middle"></i></span>LinkedIn Profile
                                        Optimization</li>
                                </ul>
                                <a href="javascript:void(0)" class="btn btn-primary mt-4">Buy Now</a>
                            </div>
                        </div>
                    </div><!--end col-->



                    <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                        <div class="card pricing pricing-primary business-rate shadow bg-light border-0 rounded">
                            <div class="card-body">
                                <h6 class="title name fw-bold text-uppercase mb-4">Advanced Plan </h6>
                                <div class="d-flex mb-4">
                                    <span class="h4 mb-0 mt-2">Rs</span>
                                    <span class="price h1 mb-0">1449/-</span>


                                </div>

                                <ul class="list-unstyled mb-0 ps-0">
                                    <li class="h6 text-muted mb-0" style="font-size:16px; font-weight: 400;"><span
                                            class="icon h5 me-2"><i
                                                class="uil uil-check-circle align-middle"></i></span>Comprehensive
                                        Resume Writing</li>
                                    <hr>
                                    <li class="h6 text-muted mb-0" style="font-size:16px; font-weight: 400;"><span
                                            class="icon h5 me-2"><i
                                                class="uil uil-check-circle align-middle"></i></span>Three Revisions
                                    </li>
                                    <hr>
                                    <li class="h6 text-muted mb-0" style="font-size:16px; font-weight: 400;"><span
                                            class="icon h5 me-2"><i
                                                class="uil uil-check-circle align-middle"></i></span>LinkedIn Profile
                                        Optimization</li>
                                    <hr>
                                    <li class="h6 text-muted mb-0" style="font-size:16px; font-weight: 400;"><span
                                            class="icon h5 me-2"><i
                                                class="uil uil-check-circle align-middle"></i></span>A Cover Letter
                                    </li>

                                </ul>
                                <a href="javascript:void(0)" class="btn btn-primary mt-4">Buy Now</a>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container--> {% endcomment %}
{% include 'home/pages/blog-common.html' %}
            </div><!--end container-->
    </section><!--end section-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

  $('.setTocheckout').click(function () {
    let plan = $(this).data('plan');
    document.cookie = `setToCheckout=${plan}; path=/; max-age=3600`;
    window.location.href = `https://careerwader.in/cart`
  })
</script>
    {% endblock %}