{% extends "home/layouts/base.html" %}
{% load static %}

{% block content %}
     <!-- Hero Start -->
     <section class="bg-half-170 bg-light d-table w-100">
        <div class="container">
          <div class="row mt-5 justify-content-center">
            <div class="col-lg-12 text-center">
              <div class="pages-heading">
                <h4 class="title mb-0">Franchise</h4>
              </div>
            </div>
            <!--end col-->
          </div>
          <!--end row-->
  
          <div class="position-breadcrumb">
            <nav aria-label="breadcrumb" class="d-inline-block">
              <ul class="breadcrumb rounded shadow mb-0 px-4 py-2">
                <li class="breadcrumb-item"><a href="im`#">Page</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  Franchise
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!--end container-->
      </section>
      <!--end section-->
      <!-- Hero End -->
  
      <!-- Shape Start -->
      <div class="position-relative">
        <div class="shape overflow-hidden text-color-white">
          <svg
            viewBox="0 0 2880 48"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z"
              fill="currentColor"
            ></path>
          </svg>
        </div>
      </div>
      <!--Shape End-->
  
      <!-- About Start -->
      <section class="section">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-5 col-md-6">
              <div class="row align-items-center">
                <div class="col-lg-6 col-6 mt-4 mt-lg-0 pt-2 pt-lg-0">
                  <div
                    class="card work-container work-primary work-modern overflow-hidden rounded border-0 shadow-md"
                  >
                    <div class="card-body p-0">
                      <img
                        src="{% static 'home/assets/images/join1.jpg'%}"
                        class="img-fluid"
                        alt="work-image"
                      />
                    </div>
                  </div>
                </div>
                <!--end col-->
  
                <div class="col-lg-6 col-6">
                  <div class="row">
                    <div class="col-lg-12 col-md-12 mt-4 mt-lg-0 pt-2 pt-lg-0">
                      <div
                        class="card work-container work-primary work-modern overflow-hidden rounded border-0 shadow-md"
                      >
                        <div class="card-body p-0">
                          <img
                            src="{% static 'home/assets/images/join2.jpg'%}"
                            class="img-fluid"
                            alt="work-image"
                          />
                        </div>
                      </div>
                    </div>
                    <!--end col-->
  
                    <div class="col-lg-12 col-md-12 mt-4 pt-2">
                      <div
                        class="card work-container work-primary work-modern overflow-hidden rounded border-0 shadow-md"
                      >
                        <div class="card-body p-0">
                          <img
                            src="{% static 'home/assets/images/course/online/ab03.jpg'%}"
                            class="img-fluid"
                            alt="work-image"
                          />
                        </div>
                      </div>
                    </div>
                    <!--end col-->
                  </div>
                  <!--end row-->
                </div>
                <!--end col-->
              </div>
              <!--end row-->
            </div>
            <!--end col-->
  
            <div class="col-lg-7 col-md-6 mt-4 mt-lg-0 pt-2 pt-lg-0">
              <div class="ms-lg-4">
                <div class="section-title">
                  <span class="badge bg-soft-primary rounded-pill fw-bold"
                    >Join us as a strategic partner, not just a Franchise</span
                  >
                  <h4 class="title mb-4 mt-3">
                    Be a part of our Growth. With Revenue <br />
                    Sharing and Exclusive Portfolio.
                  </h4>
  
                  <p class="text-muted para-desc">
                    <span class="text-primary fw-bold"
                      >Expansion Opportunities</span
                    >
                  </p>
  
                  <p class="text-muted para-desc">
                    At Career Wader, we don’t just offer Franchise Opportunities.
                    We offer Partnerships.
                  </p>
  
                  <p class="text-muted para-desc">
                    When you become a part of our AI driven Career Counseling
                    Platform, you are not just joining a network, but gaining
                    stake in the future of ‘personalized Career Guidance ‘
                  </p>
  
                  <a
                    href="javascript:void(0)"
                    data-bs-toggle="modal"
                    data-bs-target="#login-popup"
                    class="btn btn-primary m-1"
                    >Ready to take the Next Steps?
                    <i class="uil uil-angle-right-b align-middle"></i
                  ></a>
                </div>
  
                <div class="mt-4 pt-2">
                  <p class="text-muted para-desc">
                    Become a Partner in our exciting journey and unlock high
                    levels of growth and opportunity.<br /><span
                      class="text-primary fw-bold"
                      >Contact us</span
                    >
                    to learn more about becoming a Franchise partner with us.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!--end row-->
        </div>
        <!--end container-->
  
        <div class="container mt-100 mt-60">
          <div class="row justify-content-center">
            <div class="col-12 text-center">
              <div class="section-title mb-4 pb-2">
                <h4 class="title mb-4">How to get started</h4>
              </div>
            </div>
            <!--end col-->
          </div>
          <!--end row-->
  
          <div class="row">
            <div class="col-md-4 mt-4 pt-2">
              <div
                class="card work-process border-0 rounded shadow"
                style="height: 200px"
              >
                <div class="card-body">
                  <h4 class="title">Easy Entry</h4>
                  <p class="text-muted para">Low Costs; High Rewards Model</p>
                  <a href="javascript:void(0)" class="text-primary"
                    >Read more <i class="uil uil-angle-right-b"></i
                  ></a>
                </div>
              </div>
            </div>
            <!--end col-->
  
            <div class="col-md-4 mt-4 pt-2">
              <div
                class="card work-process border-0 rounded shadow"
                style="height: 200px"
              >
                <div class="card-body">
                  <h4 class="title">Comprehensive Training</h4>
                  <p class="text-muted para">
                    Become an expert Career Counselor with our simple, practical
                    training
                  </p>
                  <a href="javascript:void(0)" class="text-primary"
                    >Read more <i class="uil uil-angle-right-b"></i
                  ></a>
                </div>
              </div>
            </div>
            <!--end col-->
  
            <div class="col-md-4 mt-4 pt-2">
              <div class="card work-process border-0 rounded shadow">
                <div class="card-body">
                  <h4 class="title">Little or no exposure is needed</h4>
                  <p class="text-muted para">
                    If you are an Undergraduate , passionate about guiding others
                    and self-motivated, we will take care of the rest!
                  </p>
                  <a href="javascript:void(0)" class="text-primary"
                    >Read more <i class="uil uil-angle-right-b"></i
                  ></a>
                </div>
              </div>
            </div>
            <!--end col-->
          </div>
          <!--end row-->
        </div>
        <!--end container-->
      </section>
      <!--end section-->
  
      <!-- About End -->
  
      <!-- Team Start -->
  
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-5 col-md-5 mt-4 pt-2 mt-sm-0 pt-sm-0">
            <div class="position-relative">
              <img
                src="{% static 'home/assets/images/join.jpg'%}"
                class="rounded img-fluid mx-auto d-block"
                alt=""
              />
            </div>
          </div>
          <!--end col-->
  
          <div class="col-lg-7 col-md-7 mt-4 pt-2 mt-sm-0 pt-sm-0">
            <div class="section-title ms-lg-4">
              <h4 class="title mb-4">Ready to Make a Difference in your Life</h4>
              <p class="text-muted">
                <span class="text-primary fw-bold">Join us </span>us in empowering
                students to find the careers they love while building a profitable
                business for yourself.
              </p>
  
              <p class="text-muted">
                Visit
                <span class="text-primary fw-bold">www.careerwader.in</span> to
                take the first step towards becoming a successful edupreneur.
              </p>
  
              <p class="text-muted">
                Join thousands of students and working professionals who are
                shaping their futures with our unique AI empowered solutions.
              </p>
  
              <p class="text-muted">
                <span class="text-primary fw-bold">Contact Number:</span><br />
  
                <span class="text-primary fw-bold">Website</span
                >:www.careerwader.in
              </p>
  
              <p class="display-6">
                Make an Impact! Make a Profit! Become our Franchisee today
              </p>
            </div>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end container-->
  
      <div class="container mt-100 mt-60">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="section-title">
              <h4 class="title mb-4">
                Unfold your path to success with our Career Counseling
                <span class="text-primary">Franchise</span> Opportunity!
              </h4>
  
              <h5>Become an Eduprenuer today</h5>
              <p class="text-muted para-desc">
                Are you looking to build a rewarding
                <span class="text-primary fw-bold">enterprise (business)</span>
                while helping students to shape their future?
              </p>
  
              <p class="text-muted para-desc">
                Join our Career Counseling Platform – the AI based solution
                transforming career choices for students across India.
              </p>
            </div>
          </div>
          <!--end col-->
  
          <div class="col-lg-6">
            <div class="row ms-lg-5" id="counter">
              <div class="col-md-6 col-12">
                <div class="row">
                  <div class="col-12 mt-4 mt-lg-0 pt-2 pt-lg-0">
                    <div
                      class="card counter-box border-0 bg-light bg-gradient shadow text-center rounded"
                    >
                      <div class="card-body py-5">
                        <h2 class="mb-0">
                          <span class="counter-value" data-target="97">3</span>%
                        </h2>
                        <h5 class="counter-head mb-0">Happy Client</h5>
                      </div>
                    </div>
                  </div>
                  <!--end col-->
  
                  <div class="col-12 mt-4 pt-2">
                    <div
                      class="card counter-box border-0 bg-primary bg-gradient shadow text-center rounded"
                    >
                      <div class="card-body py-5">
                        <h2 class="text-white mb-0">
                          <span class="counter-value" data-target="15">1</span>+
                        </h2>
                        <h5 class="counter-head mb-0 text-white">Awards</h5>
                      </div>
                    </div>
                  </div>
                  <!--end col-->
                </div>
                <!--end Row-->
              </div>
              <!--end col-->
  
              <div class="col-md-6 col-12">
                <div class="row pt-lg-4 mt-lg-4">
                  <div class="col-12 mt-4 pt-2">
                    <div
                      class="card counter-box border-0 bg-success bg-gradient shadow text-center rounded"
                    >
                      <div class="card-body py-5">
                        <h2 class="text-white mb-0">
                          <span class="counter-value" data-target="2">0</span>K
                        </h2>
                        <h5 class="counter-head mb-0 text-white">
                          Job Placement
                        </h5>
                      </div>
                    </div>
                  </div>
                  <!--end col-->
  
                  <div class="col-12 mt-4 pt-2">
                    <div
                      class="card counter-box border-0 bg-light bg-gradient shadow text-center rounded"
                    >
                      <div class="card-body py-5">
                        <h2 class="mb-0">
                          <span class="counter-value" data-target="98">3</span>%
                        </h2>
                        <h5 class="counter-head mb-0">Project Complete</h5>
                      </div>
                    </div>
                  </div>
                  <!--end col-->
                </div>
                <!--end Row-->
              </div>
              <!--end col-->
            </div>
            <!--end Row-->
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end container-->
  
      <div class="container mt-100 mt-60">
        <div class="accordion" id="buyingquestion">
          <div class="accordion-item rounded">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button border-0 bg-light"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                What do we offer?
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse border-0 collapse show"
              aria-labelledby="headingOne"
              data-bs-parent="#buyingquestion"
            >
              <div class="accordion-body text-muted">
                <ul class="list-unstyled text-muted">
                  <li class="mb-1">
                    <span class="text-primary h5 me-2"
                      ><i class="uil uil-check-circle align-middle"></i></span
                    >AI powered Career Tests that align the students’ career with
                    their skills, interests, strength, motivation and personality
                    traits.
                  </li>
                  <li class="mb-1">
                    <span class="text-primary h5 me-2"
                      ><i class="uil uil-check-circle align-middle"></i></span
                    >Different Plans and Affordable pricing to ensure that we
                    reach more number of enrolments, creating an impact and growth
                    opportunities for you.
                  </li>
                  <li class="mb-1">
                    <span class="text-primary h5 me-2"
                      ><i class="uil uil-check-circle align-middle"></i></span
                    >Training and support at nominal costs with refundable deposit
                    plans ensuring that your investment is safe with us.
                  </li>
                  <li class="mb-1">
                    <span class="text-primary h5 me-2"
                      ><i class="uil uil-check-circle align-middle"></i></span
                    >Earn up to 50% of Revenues from student enrolments – A highly
                    lucrative business opportunity
                  </li>
                </ul>
              </div>
            </div>
          </div>
  
          <div class="accordion-item rounded mt-2">
            <h2 class="accordion-header" id="headingTwo">
              <button
                class="accordion-button border-0 bg-light collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                Why Partner with Career Wader?
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse border-0 collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#buyingquestion"
            >
              <div class="accordion-body text-muted">
                <ul class="list-unstyled text-muted">
                  <li class="mb-1">
                    <span class="text-primary h5 me-2"
                      ><i class="uil uil-check-circle align-middle"></i></span
                    >Scalable & High Growth due to high Demand: Career Counseling
                    is a growing need across students and working professionals
                    capturing an estimated Current Market Size of over 5000 crores
                    in India for students in Metros, Tier 2 and Tier 3 Cities of
                    India.
                  </li>
                  <li class="mb-1">
                    <span class="text-primary h5 me-2"
                      ><i class="uil uil-check-circle align-middle"></i></span
                    >Minimal set up required to operate from as small as 500
                    sq.ft. space.
                  </li>
                  <li class="mb-1">
                    <span class="text-primary h5 me-2"
                      ><i class="uil uil-check-circle align-middle"></i></span
                    >Quick Returns and High Earnings: With our easy to implement
                    system and support, you can start seeing results in no time.
                    <br />
  
                    Be a part of the Revolution
                  </li>
                  <li class="mb-1">
                    <span class="text-primary h5 me-2"
                      ><i class="uil uil-check-circle align-middle"></i></span
                    >100 + Franchisees in Record Time
                  </li>
  
                  <li class="mb-1">
                    <span class="text-primary h5 me-2"
                      ><i class="uil uil-check-circle align-middle"></i></span
                    >Exclusive Territories in Tier 2 and Tier 3 Cities and 3-4
                    Franchisees per Metro/ Tier 1 City.
                  </li>
  
                  <li class="mb-1">
                    <span class="text-primary h5 me-2"
                      ><i class="uil uil-check-circle align-middle"></i></span
                    >Affordable, sustainable Model- Perfect for Tier 3 Cities
                    owing to the highly aspirational population and in particular
                    parents.
                  </li>
                </ul>
              </div>
            </div>
          </div>
  
          <div class="accordion-item rounded mt-2">
            <h2 class="accordion-header" id="headingthree">
              <button
                class="accordion-button border-0 bg-light collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapsethree"
                aria-expanded="false"
                aria-controls="collapsethree"
              >
                Your Role as a Franchise Partner:
              </button>
            </h2>
            <div
              id="collapsethree"
              class="accordion-collapse border-0 collapse"
              aria-labelledby="headingthree"
              data-bs-parent="#buyingquestion"
            >
              <div class="accordion-body text-muted">
                <ul class="list-unstyled text-muted">
                  <li class="mb-1">
                    <span class="text-primary h5 me-2"
                      ><i class="uil uil-check-circle align-middle"></i></span
                    >Promote and Market our Career Counseling Services in your
                    City/town
                  </li>
                  <li class="mb-1">
                    <span class="text-primary h5 me-2"
                      ><i class="uil uil-check-circle align-middle"></i></span
                    >Help students make informed Career decisions and choices
                    backed by cutting edge AI Technology and expert guidance.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <!--end section-->
{% endblock %}