{% extends "home/layouts/indexbase.html" %}
{% load static %}
{% block content %}
<style>
    body > header {
      background-color: #ffffff !important;
    }
    @media screen and (max-width: 768px) {
      .bg-home-75vh {
        background-position: 0% 50% !important;
      }
    }
  </style>
<section class="home-slider position-relative">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="3000">
                    <div class="bg-home-75vh d-flex align-items-center"
                        style="background: url({%static 'home/assets/images/free.jpg'%}) center center;">
                        <div class="bg-overlay1"></div>
                        <div class="container">
                            <div class="row mt-2 pt-3 justify-content-center">
                                <div class="col-12 col-md-6">
                                    <div class="title-heading ">

                                        <h2 class="text-white title-dark mb-3">Freelance Career Counsellors Empowering
                                            Professionals Across India</h2>

                                        <p class="para-desc text-white-50 mb-0">India's professionals are discovering
                                            renewed purpose, direction, and confidence in their careers, thanks to the
                                            dedicated efforts of freelance career counsellors who offer personalized
                                            guidance, industry insights, and flexible support tailored to individual
                                            goals and challenges.</p>
                                        <div class="mt-4">


                                        </div>
                                    </div>
                                </div><!--end col-->

                                <div class="col-12 col-md-6">
                                    <div class="title-heading ">




                                    </div>
                                </div><!--end col-->
                            </div><!--end row-->
                        </div>
                    </div><!--end slide-->
                </div>




            </div>



        </div>
    </section><!--end section-->
    <div class="position-relative">
        <div class="shape overflow-hidden text-color-white">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
            </svg>
        </div>
    </div>
    <!-- Hero End -->

    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-5 col-12">
                    <div class="card sidebar sticky-bar rounded shadow border-0">
                        <div class="card-body widget border-bottom">
                            <h5 class="mb-0">Job Information</h5>
                        </div>

                        <div class="card-body">


                            <div class="d-flex widget align-items-center mt-3">
                                <i data-feather="monitor" class="fea icon-ex-md me-3"></i>
                                <div class="flex-1">
                                    <h6 class="widget-title mb-0">Job Title:</h6>
                                    <small class="text-primary mb-0">Freelance Career Counsellor</small>
                                </div>
                            </div>

                            <div class="d-flex widget align-items-center mt-3">
                                <i data-feather="monitor" class="fea icon-ex-md me-3"></i>
                                <div class="flex-1">
                                    <h6 class="widget-title mb-0">Job Type:</h6>
                                    <small class="text-primary mb-0">Freelance, Flexible Hours</small>
                                </div>
                            </div>









                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-lg-8 col-md-7 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <div class="ms-lg-4">
                        <h5>Overview:</h5>

                        <p class="text-muted">We're seeking experienced career counsellors to join our platform,
                            offering career counselling and guidance to students, job seekers, and professionals across
                            various locations in India. Our digital AI-enabled and physical platform provides
                            opportunities for beginners and experienced counsellors to work flexible hours, share
                            revenue, and collaborate with a network of professionals.</p>

                        <h5 class="mt-4">Key Responsibilities:</h5>

                        <ul class="list-unstyled">
                            <li class="text-muted"><i data-feather="arrow-right"
                                    class="fea icon-sm text-success me-2"></i>Career counselling for students and
                                professionals</li>
                            <li class="text-muted"><i data-feather="arrow-right"
                                    class="fea icon-sm text-success me-2"></i>Career coaching and mentoring</li>
                            <li class="text-muted"><i data-feather="arrow-right"
                                    class="fea icon-sm text-success me-2"></i>Resume building and interview training
                            </li>
                            <li class="text-muted"><i data-feather="arrow-right"
                                    class="fea icon-sm text-success me-2"></i>Customised solutions in career building
                                and life coaching</li>
                            <li class="text-muted"><i data-feather="arrow-right"
                                    class="fea icon-sm text-success me-2"></i>Collaborating with others in our network
                                on career counselling projects</li>
                            <li class="text-muted"><i data-feather="arrow-right"
                                    class="fea icon-sm text-success me-2"></i>Exploring study options for students in
                                India and abroad</li>
                            <li class="text-muted"><i data-feather="arrow-right"
                                    class="fea icon-sm text-success me-2"></i>Study prep and test prep coaching</li>
                        </ul>

                        <h5 class="mt-4">Choose Your Specialty:</h5>
                        <p class="text-muted">Select one or multiple services to offer:</p>
                        <ul class="list-unstyled">
                            <li class="text-muted"><i data-feather="arrow-right"
                                    class="fea icon-sm text-success me-2"></i>Career counselling</li>
                            <li class="text-muted"><i data-feather="arrow-right"
                                    class="fea icon-sm text-success me-2"></i>Career coaching</li>
                            <li class="text-muted"><i data-feather="arrow-right"
                                    class="fea icon-sm text-success me-2"></i>Resume building</li>
                            <li class="text-muted"><i data-feather="arrow-right"
                                    class="fea icon-sm text-success me-2"></i>Interview training</li>
                            <li class="text-muted"><i data-feather="arrow-right"
                                    class="fea icon-sm text-success me-2"></i>Study prep</li>
                            <li class="text-muted"><i data-feather="arrow-right"
                                    class="fea icon-sm text-success me-2"></i>Test prep</li>

                        </ul>

                        <h5 class="mt-4">Who You Are:</h5>

                        <ul class="list-unstyled">
                            <li class="text-muted"><i data-feather="arrow-right"
                                    class="fea icon-sm text-success me-2"></i>Experienced in career counselling
                                (training provided for those without experience)</li>
                            <li class="text-muted"><i data-feather="arrow-right"
                                    class="fea icon-sm text-success me-2"></i>Tech-savvy to conduct online sessions on
                                platforms like Zoom</li>


                        </ul>

                        <h5 class="mt-4">Why Join Us:</h5>

                        <ul class="list-unstyled">
                            <li class="text-muted"><i data-feather="arrow-right"
                                    class="fea icon-sm text-success me-2"></i>Attractive revenue sharing model</li>
                            <li class="text-muted"><i data-feather="arrow-right"
                                    class="fea icon-sm text-success me-2"></i>Access to premier resources like
                                counselling platforms and career libraries</li>
                            <li class="text-muted"><i data-feather="arrow-right"
                                    class="fea icon-sm text-success me-2"></i>Marketing and promotion support</li>
                            <li class="text-muted"><i data-feather="arrow-right"
                                    class="fea icon-sm text-success me-2"></i>- Opportunity to work with a city-based
                                freelancer network</li>


                        </ul>

                        <h5 class="mt-4">How to Apply:</h5>
                        <p class="text-muted">If you're passionate about empowering professionals and students through
                            career counselling, we'd love to hear from you. Apply now to join our network of freelance
                            career counsellors and enhance the scope of your services.</p>

                        <h5 class="mt-4">Requirements:</h5>

                        <ul class="list-unstyled">
                            <li class="text-muted"><i data-feather="arrow-right"
                                    class="fea icon-sm text-success me-2"></i>Strong communication and interpersonal
                                skills</li>
                            <li class="text-muted"><i data-feather="arrow-right"
                                    class="fea icon-sm text-success me-2"></i>Ability to work independently and
                                collaboratively</li>
                            <li class="text-muted"><i data-feather="arrow-right"
                                    class="fea icon-sm text-success me-2"></i>Familiarity with career counselling
                                principles and practices</li>

                        </ul>

                        <h5 class="mt-4">What to Expect:</h5>

                        <ul class="list-unstyled">
                            <li class="text-muted"><i data-feather="arrow-right"
                                    class="fea icon-sm text-success me-2"></i>Flexible working hours</li>
                            <li class="text-muted"><i data-feather="arrow-right"
                                    class="fea icon-sm text-success me-2"></i>Opportunities for professional growth and
                                development</li>
                            <li class="text-muted"><i data-feather="arrow-right"
                                    class="fea icon-sm text-success me-2"></i>Collaborative and supportive network</li>

                        </ul>

                        <h5 class="mt-4">Ready to Take Your Career Counselling Services to the Next Level?</h5>
                        <p class="text-muted">Apply now and join our platform to start offering your services to
                            students and professionals across India. We look forward to working with you!</p>

                        <div class="mt-4">
                            <a href="job-apply.html" class="btn btn-outline-primary">Join as a Freelancer <i
                                    class="mdi mdi-send"></i></a>
                        </div>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section><!--end section-->
    {% endblock %}