{% extends 'home/layouts/base.html' %}

{% load static %}

{% block content %}
  <!-- Hero Start -->
  <section class="bg-half-175 d-table w-100" id="home" style="padding-top:120px">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-7 col-md-7">
          <div class="title-heading mt-4">
            <h1 class="heading mb-3">Delhi: Unlocking Career Potential in the nation’s capital</h1>

            <!-- <h4 class="mb-3">known for its rich history, diverse culture, and unique attractions.</h4> -->
            <p class="para-desc text-muted" style=" text-align: justify;">It is also a major educational hub, housing various Universities and numerous colleges. Additionally, Delhi is an emerging industrial hub with significant industrial corridors and a Japanese township.</p>
            <div class="mt-4 pt-2">
              <a href="{% url 'franchise' %}" class="btn btn-primary m-1">Partner with Us</a>
            </div>
          </div>
        </div>
        <!-- end col -->

        <div class="col-lg-5 col-md-5 mt-4 pt-2 mt-sm-0 pt-sm-0">
          <img src="{% static 'home/assets/images/enquiries/delhi.jpg' %}" alt="" />
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </section>
  <!-- end section -->
  <!-- Hero End -->

  <!-- Partners start -->

  <!-- Partners End -->

  <section class="section" style="background-color: #F8F5F4;">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-6">
          <div class="row align-items-center">
            <div class="col-lg-12 col-12">
              <div class="row">
                <div class="card rounded shadow border-0 ms-lg-4 wow animate__animated animate__fadeInUp" data-wow-delay=".5s" style=" background-color: #00A86B;">
                  <div class="card-body p-4">
                    {% include 'home/pages/enquiries/form.html' %}
                  </div>
                </div>
              </div>
              <!-- end row -->
            </div>
            <!-- end col -->
          </div>
          <!-- end row -->
        </div>
        <!-- end col -->

        <div class="col-lg-7 col-md-6 mt-4 mt-lg-0 pt-2 pt-lg-0">
          <div class="ms-lg-5">
            <div class="section-title mb-4 pb-2">
              <p>Delhi's unique blend of historical sites, cultural landmarks, and modern attractions makes it a special place. The city is known for its iconic monuments like the Qutub Minar and Red Fort, bustling markets such as Chandni Chowk, and diverse culinary offerings. Delhi also boasts the Delhi Metro, a fast and extensive public transport system.</p>

              <p>Delhi is famous for its rich history. Delhi is a thriving hub for education and career growth. With over __ number of schools numbering approximately __ students, the city offers vast opportunities for individuals to excel. However, navigating the complex world of career choices can be daunting.</p>

              <p>The demand for quality career counselling services in Delhi is high, and existing services are often insufficient. Against this backdrop, Career Wader offers expert career counselling services to help students and professionals make informed decisions about their future. Career Wader's personalized approach empowers individuals to achieve their career goals.</p>

              <p>By partnering with Career Wader, Career Counsellors can seize this opportunity and build a rewarding career. This partnership offers a fulfilling experience for Career Wader Career Counsellors, enabling them to make a meaningful impact.</p>

              <h5>If you're passionate about shaping young minds and helping individuals achieve their career goals, Career Wader invites you to explore partnership opportunities in Delhi</h5>

              <a href="{% url 'franchise' %}" class="btn btn-outline-primary rounded active"><i class="uil uil-store"></i> Join Our Network</a>
            </div>
          </div>
        </div>
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->

    <!-- About Start -->
  </section>
  <!-- end section -->

  {% include 'home/pages/enquiries/common.html' %}
{% endblock %}
